body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.header{
	margin-top:15px;
	margin-bottom:15px;
	text-align: center;
}

td {
    text-align: center !important;vertical-align: middle !important;
}